# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/

# SQLite DB
database/*.db
*.db

# Byte-compiled / optimized / DLL files
*.so

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Streamlit cache
*.cache/

# Generated reports
reports/manifests/*.pdf
